<%= mxit_table_row :title %>
<b>Now that was painfull!, but you are done</b>

<%= mxit_table_row %>

We will show all the data you entered here?

<%= link_to 'Back', '/initial' %><br /><br />

<table>
  <tr><td>Trainer</td><td><%= @trainer %></td></tr>
  <tr><td>Group</td><td><%= @group %></td></tr>
  <tr><td>Area</td><td><%= @area %></td></tr>
  <tr><td>Gender</td><td><%= @gender %></td></tr>

</table>

